node_modules/
.cache/
*.pack
*.log
*.tmp
.DS_Store
dist/
coverage/
.vscode/
.env
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
backend/.env
frontend/.env.local

# Runtime uploads
backend/uploads/*